<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867518326855-9ur19sfhl57pqdvd0djpm278bg7tkn7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867518326855-9ur19sfhl57pqdvd0djpm278bg7tkn7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDJQDv_Cik_Q5RBdOnnUdt1COJ9r1ZzkBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>867518326855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icare.profissional</string>
	<key>PROJECT_ID</key>
	<string>icare-app-23a33</string>
	<key>STORAGE_BUCKET</key>
	<string>icare-app-23a33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867518326855:ios:5d6b27cb19eee942b6e962</string>
</dict>
</plist>